name: hublist-cache

on:
  workflow_dispatch:

jobs:
  hubapi-list-cache:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          repository: jina-ai/api
          path: api
          token: ${{ secrets.JINA_DEV_BOT }}
      - name: fetch-and-push-to-api-repo
        run: |
          cd api/hub
          apt-get update && apt-get install curl
          curl -s https://hubapi.jina.ai/images >> hublist.json
          git config --local user.email "dev-bot@jina.ai"
          git config --local user.name "Jina Dev Bot"
          git add hublist.json && git commit -m "hublist cache from hubapi" && git push
